/* Uralbek UZ | v0.0.0 | 2-feb 2019 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:#fff}
body{margin:0}a{text-decoration:none}
.top{position:fixed;width:100%;z-index:1;background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}.header{padding-top:6px;padding-left:22px;padding-bottom:5px}
.logotip{padding-left:2px;font-size:26px;color:#02A4D3;font-family:"Oswald";font-weight:bold;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.hover:hover{background:#ddd}.border{border:0.5px solid #02A4D3}

/* =============== DS Desktop ================ */
a#telegram{background:#24a1de}a#instagram{background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)}a#facebook{background:#1877f2}a#twitter{background:#000}a#youtube{background:#ff0000}#telegram,#instagram,#facebook,#twitter,#youtube{margin-top:8px;padding:2px 24px;border-radius:50px;color:#fff;font-sizce:16px;font-weight:bold;text-decoration:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.tooltip{position:relative;display:inline-block;cursor:pointer}.tooltip:hover::after{content:attr(data-tip);position:absolute;bottom:80%;left:50%;transform:translateX(-50%);background:#555;color:#fff;padding:3px 18px 2px;border-radius:6px;font-size:12px;white-space:nowrap;opacity:1.5s}

/* =============== MD Planshet ================ */


/* =============== SM Mobil ================ */
.sarlavha{font-size:21px;color:#02A4D3}.paragraph{font-size:20px}
.kirish{
    background: #000;
    padding: 4px 32px;
    border-radius: 50%;
}



/* Colors */
.bridesmaid {
    background: #FEF0EC;
}