/* Uralbek UZ | v0.0.0 | 2-feb 2019 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:#fff}
body{margin:0}a{text-decoration:none}
.top{position:fixed;width:100%;z-index:1;background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}.header{padding-top:6px;padding-left:22px;padding-bottom:5px}
.logotip{padding-left:2px;font-size:26px;color:#02A4D3;font-family:"Oswald";font-weight:bold;-webkit-user-select:none;-ms-user-select:none;user-select:none}
/* =============== DS Desktop ================ */
a#telegram {
    margin-top: 8px;
    padding: 2px 24px;
    border-radius: 50px;
    background: #24a1de;
    color: #fff;
    font-sizce: 16px;
    font-weight: bold;
    text-decoration: none;
}
a#instagram {
    margin-top: 8px;
    padding: 2px 22px;
    border-radius: 50px;
    color: #fff;
    font-sizce: 16px;
    font-weight: bold;
    text-decoration: none;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);/*
  -webkit-background-clip: text;
          /* Also define standard property for compatibility 
          background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
a#facebook {
    margin-top: 8px;
    padding: 2px 24px;
    border-radius: 50px;
    background: #1877f2;
    color: #fff;
    font-sizce: 16px;
    font-weight: bold;
    text-decoration: none;
}
a#twitter {
    margin-top: 8px;
    padding: 2px 24px;
    border-radius: 50px;
    background: #000;
    color: #fff;
    font-sizce: 16px;
    font-weight: bold;
    text-decoration: none;
}
a#youtube {
    margin-top: 8px;
    padding: 2px 24px;
    border-radius: 50px;
    background: #ff0000;
    color: #fff;
    font-sizce: 16px;
    font-weight: bold;
    text-decoration: none;
}