/* Uralbek UZ | v0.0.0 | 2-feb 2019 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:#fff}
body{margin:0}a{text-decoration:none}
.top{position:fixed;width:100%;z-index:1;background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}.header{padding-top:6px;padding-left:22px;padding-bottom:5px}
.logotip{padding-left:2px;font-size:26px;color:#02A4D3;font-family:"Oswald";font-weight:bold;-webkit-user-select:none;-ms-user-select:none;user-select:none}
/* =============== DS Desktop ================ */

a#telegram{background:#24a1de}a#instagram{background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)}a#facebook{background:#1877f2}a#twitter{background:#000}a#youtube{background:#ff0000}#telegram,#instagram,#facebook,#twitter,#youtube{margin-top:8px;padding:2px 24px;border-radius:50px;color:#fff;font-sizce:16px;font-weight:bold;text-decoration:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip.tooltiptext {
    visibility: hidden;
    width: 120px;
    background: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover.tooltiptext{
    visibility: visible;
    opacity: 1;
}