html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:#fff}
body{margin:0}a{text-decoration:none}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}
